* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#input {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
    align-items: center;
    text-align: center;
}

.date, .time {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.time-box {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

button {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    background-color: greenyellow;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.time-box span:first-child {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.time-box span:last-child {
    display: block;
    font-size: 1rem;
    color: #888;
}

.date :first-child, .time :first-child {
    border: none;
    font-family: Arial, sans-serif;
}